@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
    top: -5px;
    position: relative;
    font-size: 1.2em;
}.flaticon-cars21:before {
	content: "\e000";
}
.flaticon-cigar:before {
	content: "\e001";
}
.flaticon-glass16:before {
	content: "\e002";
}
.flaticon-sprint:before {
	content: "\e003";
}
