<div class="row col-md-12 ng-scope">
    <div class="col-xs-1 col-md-1 icons-div">
        <div class="row">
            <i class="fa fa-user fa-color" ng-class="{ valid: isValid('gender')}"></i>
        </div>
    </div>
    <div class="col-xs-8 col-sm-2 col-md-2">
        <div class="row">
            <label for="dob-day" class="control-label pull-left">Gender</label>
        </div>
        <div class="row">
            <div class="controls">
                <select class="form-control" name="gender" id="gender-choice" ng-model="gender" required>
                    <option value="">I am...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12 spacer ng-scope">
    <div class="col-xs-1 col-md-1 icons-div">
        <div class="row">
            <i class="fa fa-globe fa-color" ng-class="{ valid: isValid('country')}"></i>
        </div>
    </div>
    <div class="col-xs-8 col-sm-4 col-md-3">
        <div class="row">
            <label class="control-label pull-left">Country of residence</label>
        </div>
        <div class="row">
            <div class="controls">
                <select class="form-control" name="country" id="country-choice" ng-model="country" required>
                    <option value="">Country</option>
                    <option ng-repeat="x in ages | filter:{'SEX':'Female'}" value="{{ x.COUNTRY }}">{{ x.COUNTRY }}</option>
                </select>
            </div>
        </div>
    </div>
</div>