body {
    /* padding-top: 50px; */
}

.top-nav-bar {
    margin-bottom: 30px;
}

.hide-div {
    display: none;
    margin-top: 20px;
}

.spacer {
    margin-top: 17px;
    /* define margin as you see fit */
}

.line {
    border-top: 1px solid grey;
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}

.leftie {
    display: inline-block;
}

.no-left {
    padding-left: 0px;
}

.icons-div {
    float: left;
    margin-right: 25px;
    width: 20px;
    text-align: right;
}

.margin-left {
    margin-left: 30px;
}

@media (max-width: 768px) {
    .dob-bottom {
        margin-bottom: 11px;
    }

    .margin-left {
        margin-left: 0px;
        clear: left;
    }

    .no-left {
        padding-left: 15px;
    }

    .no-left-complex {
        padding-left: 0;
    }

    .margin-bottom {
        margin-bottom: 15px;
    }
}

select:invalid {
    outline: none;
    box-shadow: 0 0 5px red;
}

select:valid {
    outline: none;
    box-shadow: 0 0 5px #449d44;
}

.fa-calendar {
    font-size: 2.5em;
}

.hide-div .fa {
    font-size: 1em;
}

.red {
    color: #FFA5A5;
}

.green {
    color: #449d44;
}

.fa-color {
    color: #FF9595;
    font-size: 2.2em;
}

.form-control {
    padding: 6px 4px;
}

.error {
    color: #FF9595;
}

.valid {
    color: #449d44;
}

@media screen and (max-width: 480px) {
    a.navbar-brand {
        padding: 0 0 10px 10px;
    }
}

.navbar-inverse .navbar-toggle {
    background-color: #862e89;
    border: 2px solid #fff300;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

th {
    white-space: nowrap;
}

.red{
    color: red;
}
.green{
    color: green;
}